<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
{% extends 'pages/base.html' %}
{% block content %}
    <h1>Home Page.</h1>
{% endblock %}
</body>
</html>